.App {
  text-align: center;
  background-color: #f2f2f2;
  color: #888;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 128px;
}

.appContainer {
  max-height: 200px;
}

.App-link {
  color: #61dafb;
}
